apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- account.yaml
- deployment.yaml
- service.yaml
images:
- name: flux-operator
  newName: ghcr.io/controlplaneio-fluxcd/flux-operator
  newTag: v0.6.0
