---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: flux-operator
  name: flux-operator
spec:
  ports:
  - name: http-web
    port: 80
    protocol: TCP
    targetPort: 9080
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app.kubernetes.io/name: flux-operator
