name: actions

on:
  pull_request:
    paths:
      - 'action/**'
      - '.github/workflows/actions-test.yaml'
  push:
    branches:
      - 'main'
    paths:
      - 'actions/**'
      - '.github/workflows/actions-test.yaml'

permissions:
  contents: read # for actions/checkout to fetch code

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup CLI
        uses: ./actions/setup
      - name: Run CLI
        run: flux-operator version --client
