name: e2e-olm

on:
  workflow_dispatch:
  push:
    branches: [ '*' ]
    paths:
    - 'config/olm/**'
    - 'test/olm/**'
    - '.github/workflows/e2e-olm.yml'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      packages: write # for pushing and signing container images.
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version: 1.24.x
          cache-dependency-path: |
            **/go.sum
            **/go.mod
      - name: Setup Kubernetes
        uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1.12.0
        with:
          version: v0.24.0
          cluster_name: kind
      - name: Setup QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0
      - name: Login to GitHub Container Registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Run OLM tests
        run: make test-olm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
